.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    color: #acd8c9d6;
  }
  
  .example-full-width {
    width: 100%;
    color: black;
  }

  
  .background{
    background-image: url("../../../assets/background.jpg");
    min-height: -webkit-fill-available;
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    color:black;
    background-size: cover;
  }
  
  .singinbtn{
    width: 100%;
    margin: 0px !important;
    color:black;
  }

  .example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  color: black;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  color:black;
}